html
	include core/header.pug
body
	if errors
		ul
			each error in errors
				li #{error.msg}
	h1 Tambah siswa
	form(action="/mahasiswa/tambah", method='POST')
		label Nama 	:
		input(type='text', name='nama')
		br
		label NPM 	:
		input(type='text', name='npm')
		br
		input(type='submit', value='Tambah')
	p #{judul}
	ul
		each siswa in siswas
			li
				| #{siswa.nama}
				br
				| #{siswa.npm}
				br
				a(href="/mahasiswa/hapus/"+siswa._id) delete
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="js/main.js")