html
	include core/header.pug
body
	h1 Tambah siswa
	form(action="/mahasiswa/tambah", method='POST')
		label Nama 	:
		input(type='text', name='nama')
		br
		label NPM 	:
		input(type='text', name='npm')
		br
		input(type='submit', value='Tambah')
	p #{judul}
	ul
		each siswa in siswas
			li
				| #{siswa.name}
				br
				| #{siswa.npm}